.loan-data-filters {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.loan-data-filters__select {
    box-sizing: border-box;
    width: 100%;
    margin-right: 1rem;
}

.loan-data-filters__select:last-child {
    margin-right: 0;
}
